/* Custom Stylesheet */
/* ==================
      VARIABLES
================== */
:root {
--black: #0A0D0C;
--dark-tan: #a6a59c;
--light-tan: #BFBDB4;
--hunter-green: rgb(76, 89, 88);
--forest-green: rgb(100, 131, 104);
--brown: #735840;
--body-font: 'Open Sans', sans-serif;
--title-font: 'Lobster Two', cursive;
}
/* ==================
      GENERAL
================== */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
.brand-logo {
	font-family: var(--title-font)
}
.logo-img {
	width: 250px;
}
.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
